$font-family: 'Montserrat', sans-serif;
$white: #DEDEDE;
$text-color: $white;

$background-color: #181A20;
$on-background-color: $white;

$primary-color: #1369AE;
$primary-dark-1-color: #0D5191;

$on-primary-color: #FFFFFF;

$screen-sm: 480px;
$screen-md: 760px;
$screen-lg: 1280px;