$font-family: 'Montserrat', sans-serif;
$white: #DEDEDE;
$gold: #B59527;
$grey: #989898;
$text-color: $white;

$background-color: #181A20;
$secondary-background-color: #1D202A;
$on-background-color: $white;

$primary-color: #1369AE;
$primary-dark-1-color: #0D5191;

$on-primary-color: #FFFFFF;

$screen-sm: 480px;

$screen-md-minus: 660px;
$screen-md: 768px;

$screen-lg: 960px;

$screen-xl-minus: 1150px;
$screen-xl: 1280px;