@use 'mixins.scss';
@use 'variables.scss';

body {
    background-color: variables.$background-color;
    margin: 0;
    padding: 0;
}

div {
  @include mixins.text-p;
}

p {
    @include mixins.text-p;
    margin: 0;
    padding: 0;
}

h3 {
    @include mixins.text-h3;
    margin: 0;
    padding: 0;
}

h4 {
  @include mixins.text-h4;
  margin: 0;
  padding: 0;
}

h5 {
  @include mixins.text-h5;
  margin: 0;
  padding: 0;
}

h6 {
  @include mixins.text-h6;
  margin: 0;
  padding: 0;
}

// IMPORTANT!
// Do not add any custom properties to these classes. Always add them to the mixins.

.text-p {
    @include mixins.text-p;
}

.text-h3 {
    @include mixins.text-h3;
}

.text-nav {
    @include mixins.text-nav;
}
